<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.hakaton.euromesecno"
    android:versionCode="2"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="rs.hakaton.euromesecno.sdk.SdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rs.hakaton.euromesecno.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name_1"
            android:name="rs.hakaton.euromesecno.sdk.activity.MainActivity" >
        </activity>
        
        <activity android:name="rs.hakaton.euromesecno.sdk.activity.AboutActivity">
            
        </activity>
        <activity
            android:label="@string/app_name_1"
            android:name="rs.hakaton.euromesecno.sdk.activity.InfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.hakaton.euromesecno.sdk.activity.MainActivity" />
        </activity>
        
         <receiver android:name="rs.hakaton.euromesecno.AlarmReciever" >
    	</receiver>
    	
         <receiver android:name="rs.hakaton.euromesecno.BootReceiver" >
	        <intent-filter>
	            <action android:name="android.intent.action.BOOT_COMPLETED" >
	            </action>
	        </intent-filter>
	    </receiver>
    </application>

</manifest>
